<!DOCTYPE html>
<html lang="en">
<head>
    
<head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="../img/logo.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/sobreNosotros.css">
        <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
       

        <title>Sobre Nosotros</title>

     
</head>

<body>


      
            <h1 class="tituloprincipal">Sobre nosotros <br>
                Habilidades socioemocionales grupo 1

            </h1>
            <h2 class="habilidades">

             
            </h2>
        
           
            <div class="primeracaja">
               <div class="contenedor_texto">
                <h2 class="title2">
                    Rebeca Ester Barrios Cabrera
                </h2>
                <p> <mark>AMO</mark> rodearme de personas de las cuales pueda aprender. Soy curiosa y me encanta explorar
                    nuevas áreas.
                    <mark> CREO QUE EL MUNDO NECESITA</mark> compromiso, concientización, respeto y empatía. Debemos
                    comprender que estamos de paso por estos suelos para esforzarnos por lo que nos hace felices
                    sin perjudicar a lo demás.
                    ME PAGARÁN por desarrollar procesos que tengan un impacto positivo en el medio ambiente.
                    SOY BUENA poniéndome en el lugar de la otra persona. Proponiendo soluciones. Descubriendo
                    cualidades y contagiando optimismo.
                    MI PROPÓSITO es generar concientización a través de hechos.</p>
               </div>
                <img class="imagen_caja" src="../img/rebeca2.jpg" alt="Rebeca">

            </div>

            <div class="primeracaja">
                <img class="imagen_caja" src="../img/68e3ff5a-3764-44e5-b3e9-5cff5e55bb97.jpg" alt="Mariheg Barrios">

                <div class="contenedor_texto">
                 <h2 class="title2">
                    Mariheg Barrios
                 </h2>
                 <p>
                     siento que tengo la pasión y se hacer del baile <mark> una mejor versión de mi misma..</mark> se desarrollar talentos por ellos me gusta mucho compartir e impartir ese sentimiento y comunicacion atraves de nuestro cuerpo, a la vez me gusta mucho la independencia..
                    Mi profesion es ser docente la cual me pagan por hacer, y también es mi vocación me gusta mucho atender a los niños ya que soy maestra de  primaria y me gusta prestar el servicio ..amo servir.. el mundo necesita y nosotros tenemos esa misión de atender los llamados de aquellas personas que realmente necesiten de nuestra ayuda y de cómo podemos atenderlos buscar y dar afecto a los más necesitados ..en pocas palabras en este momento <mark>“EN EL AQUÍ Y EL AHORA”</mark> mi propósito.. es ser ayudador y orientador .. siento que hay muchas personas que necesitan una pequeña mano o un empujón para lograr lo que quieren ..soy buena aportando mis ideas y críticas constructivas ..nose si dentro de varios años podré encontrar otro ikigai porque por los momentos este me tomo saberlo hace 6 años lo cual he venido poniendo en práctica</p>
                </div>
             </div>

             <div class="primeracaja">
                <div class="contenedor_texto">
                 <h2 class="title2">
                     Ailin Baudin
                 </h2>
                 <p>
                     Mi proposito es crecer, vivir, soñar, y esto lo digo con aspectos muy personales. <mark> CRECER</mark> es poder entender cosas que antes no entendia, poder reaccionar diferente a situaciones limites. <mark> VIVIR</mark> es poder encontrar lo que nos llena pese a las adversidades del mundo, es saber que no existe un solo camino, que no hay equivocacion alguna cuando se trata de elegir, todo tiene su razon de ser todo nos aporta algo.  por que considero que sin esto no tenemos ni el vivir, ni el crecer, <mark>SOÑAR</mark> para mi es tene proyectos, es poder pensar en grande cuando se trata de cambios, es no quedarse del lado sombrio de la vida, es saber que podemos mejorar siempre nuestras situaciones. la vida se vive un paso a la vez, y todos los dias elegimos un camino.

                 </p>
                </div>
                 <img class="imagen_caja" src="../img/ailinbaudin.png" alt="ailin_baudin">
                </div>
                <div class="primeracaja">
                    <div class="contenedor_texto">
                     <h2 class="title2">
                        Diego Alejandro Bello Rodríguez.
                     </h2>
                     <p>
                    Desde chico siempre me ha encantado el cuerpo humano y en especial el cerebro.
                    La medicina es mi propósito.

                    Pero no quiero dejar de lado 3 pasiones:
                    -La música, tocar el violín y la guitarra.
                    -El deporte, correr y nadar.
                    -Viajar, adoro lo nuevo y me ayuda a desconectar.

                    <mark>No descarto que en el futuro alguna se vuelva un propósito o una profesión (algo en lo que me paguen). Pero tengo miedo a perder la libertad con la que disfruto de mis pasiones.</mark>

                    Agregué enseñar, porque en la vida constantemente aprendemos y enseñamos, aunque algunos no se den cuenta.
                     </p>
                    </div>
                     <img class="imagen_caja" src="../img/WhatsApp Image 2020-10-22 at 5.30.27 PM.jpeg" alt="diego">
                    </div>
    </section>

</body>
</html>